<form (ngSubmit)="submitForm()">

  <h2>Formulario de reserva</h2>

    <div class="row">
      <!-- Campos de fecha de inicio y fecha de término -->
      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label for="fecha-inicio">Fecha de inicio</label>
          <input type="date" class="form-control" id="fecha-inicio" name="fecha-inicio" [(ngModel)]="fechaInicio">
          <div class="text-danger">{{ errorMessages.fechaInicio }}</div>
        </div>
      </div>

      <!-- <div class="col-md-6 mb-4">
        <div class="form-group">
          <label for="fecha-termino">Fecha de término:</label>
          <input type="date" class="form-control" id="fecha-termino" name="fecha-termino" [(ngModel)]="fechaTermino">
          <div class="text-danger">{{ errorMessages.fechaTermino }}</div>
        </div>
      </div> -->

      <div class="col-md-6 mb-4">
        <div class="form-group">
          <label for="cantidadMeses">Cantidad de meses:</label>
          <input type="number" class="form-control" name="cantidadMeses" id="cantidadMeses" [(ngModel)]="cantidadMeses">
          <div class="text-danger">{{errorMessages.cantidadMeses}}</div>
        </div>
      </div>

    </div>

    <div class="row">
      <!-- Campo de aceptación de términos y condiciones -->
      <div class="col-md-12 mb-4">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="terminos" name="terminos" [(ngModel)]="aceptaTerminos">
          <label class="form-check-label" for="terminos">Acepto los términos y condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad</label>
          <div class="text-danger">{{ errorMessages.aceptaTerminos }}</div>
        </div>
      </div>
    </div>

    <!-- Botón de envío del formulario -->
  <div class="row md-3 justify-content-center">
    <button type="submit" class="btn btn-primary" >Agenda una reserva</button>
  </div>
  
  </form>
  