
<body>
  <header>
    <h1>GESTIÓN DE USUARIOS</h1>
  </header>
    
<!-- FILTROS -->
  <div class="container filter-container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <select class="form-select sort-select">
                <option value="precio">Ordenar por Precio</option>
                <option value="fecha">Ordenar por Fecha</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control search-input" placeholder="Buscar habitación...">
                <button class="btn btn-primary search-button">
                  <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
  </div>

<!-- TABLA -->
    <table class="table-responsive" >
        <thead>
            <tr>
                <th scope="col" *ngFor="let headName of headTableContent">{{ headName }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userService.users">
                <th scope="row">{{ user.nombre }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.telefono }}</td>
                <td>{{ user.rut }}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="selectToDelete(user)" data-bs-toggle="modal" data-bs-target="#deleteUserModal"> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
<!-- PAGINACIÓN -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

    <!-- MODAL ELIMINAR USUARIO -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto">
            <div class="modal-content">

                <!-- Encabezado del Modal -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Cuerpo del Modal -->
                <div class="modal-body text-center">
                    <div>
                        <p>¿Estás seguro de que deseas eliminar este usuario?</p>
                    </div>
                </div>

                <!-- Pie del Modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="deleteUser()">Continuar</button>
                </div>

            </div>
        </div>
    </div>    

</body>

