.select-group {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    align-items: center;
    margin: 0 auto;
}

.form-select,
.btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.container{
    /* Centrar el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    width: 80%;
    height: 20%;
    /* sombra del buscador */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tus preferencias */
}