<div class="container bg-light ">
  <div class="row row-cols-2">

    <div class="col-md-8 col-sm-12">
      <app-dimensionmodel></app-dimensionmodel>
    </div>

    <div class="col-md-4 col-sm-12">
      <!-- Boton arrendar  -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rentModal">Reservar</button>
      <app-data-room-container></app-data-room-container>
    </div>

    <div class="col-md-8 col-sm-12">
      <app-map></app-map> 
    </div>

    <div class="col-md-4 col-sm-12">
      <app-calendar></app-calendar>
    </div>

  </div>

  
      


  
  <!-- Modal -->
<div class="modal fade" id="rentModal" aria-labelledby="rentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="loginSignupModalLabel">Iniciar sesión o Registrarse</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Contenido del formulario de inicio de sesión y registro -->
        <app-rent-form></app-rent-form>
      </div>
      <!-- Pie del Modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="reserveRoom()" data-bs-dismiss="modal" >Reservar</button>
    </div>
    
    </div>
  </div>
</div>
  
  
    