<div class="row justify-content-center">
    <div class="col-12 col-md-8" *ngIf="bookingService.bookings && bookingService.bookings.length > 0;else voidBooking">
        <div *ngFor="let booking of bookingService.bookings" class="mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ getRoomName(booking.roomId) }}</h5>
                    <p class="card-text">Fecha inicio reserva: {{ booking.fecha_inicio | date: 'dd/MM/yyyy' }}</p>
                    <p class="card-text">Fecha termino reserva: {{ booking.fecha_fin | date: 'dd/MM/yyyy' }}</p>
                    <p class="card-text">Estado: {{ booking.estado }}</p>
                    <p class="card-text">Precio: ${{ booking.precio }}</p>
                    <div class="d-flex justify-content-end">

                        <a class="btn btn-danger ml-2" (click)="cancelBooking(booking._id)"  toast="cancelToast">Cancelar Reserva</a>
                        <p-toast position="bottom-center" key="cancelToast"></p-toast>

                        <a class="btn btn-primary ml-2" (click)="generateContract(booking)" >Descargar contrato</a>

                        <input type="file" (change)="capturarPDF($event, booking)" accept=".pdf" multiple="false" id="fileInput" style="display: none;">
                        <label for="fileInput" class="btn btn-primary ml-2">Cargar contrato</label>

                        <a  *ngIf="isConfirmed(booking)" class="btn btn-primary ml-2" (click)="goToPayment()">Completar Pago</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #voidBooking>
    <div class="alert alert-warning">
        No tienes reservas
    </div>
</ng-template>


