

.card-title{
  font-size: 1.2rem;
}

.price-text{
  font-size: 1.1rem;
}

.download-pdf-btn{
  background-color: #1478DB; 
}

.download-pdf-btn:hover{
  background-color: #1D5DA3;
}

.upload-pdf-btn{
  background-color: #2a67a3;
}

.upload-pdf-btn:hover{
  background-color: #6BAED8 ;
}

.payment-btn{
  background-color: #004080;
}

.payment-btn:hover{
  background-color: #005A99 ;
}
  