/* Estilo para el campo de entrada de archivo */
#fileInput {
    display: none; /* Ocultar el campo de entrada de archivo */
  }
  
  /* Estilo para el botón personalizado */
  #fileInput + label {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #2e6da4;
    border-radius: 4px;
  }
  
  /* Estilo para el botón personalizado cuando el ratón pasa por encima */
  #fileInput + label:hover {
    background-color: #286090;
    border: 1px solid #204d74;
  }
  
  /* Estilo para el botón personalizado cuando está activo */
  #fileInput + label:active {
    background-color: #204d74;
    border: 1px solid #122b40;
  }
  