<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let service of services">
        <div class="card">
          <!-- <img [src]="service.imagen" class="card-img-top" alt="{{service.nombre}}"> -->
          <div class="card-body">
            <h5 class="card-title">{{service.nombre}}</h5>
            <p class="card-text">{{service.descripcion}}</p>
            <p class="card-text">Precio: {{service.precio | currency:'USD'}}</p>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                [id]="'radio_' + service._id"
                [name]="'selectedService'"
                [value]="service._id"
                (change)="selectService(service._id)"
              >
              <label [for]="'radio_' + service._id" class="form-check-label">Seleccionar</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  