<body>
  <header>
    <h1>GESTIÓN DE RESERVAS</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item" *ngFor="let part of currentRouteParts; let last = last" [ngClass]="{ 'active': last }">{{ part }}</li>
        </ol>
    </nav>
  </header>
    
<!-- FILTROS -->
  <div class="container filter-container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <select class="form-select sort-select">
                <option value="precio">Ordenar por Precio</option>
                <option value="fecha">Ordenar por Fecha</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control search-input" placeholder="Buscar habitación...">
                <button class="btn btn-primary search-button">
                  <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
  </div>

<!-- TABLA -->
    <table class="table-responsive" >
        <thead>
            <tr>
                <th scope="col" *ngFor="let headName of headTableContent">{{ headName }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookingService.bookings">
                <th scope="row">{{ booking._id }}</th>
                <td>{{ booking.fecha_inicio }}</td>
                <td>{{ booking.fecha_fin }}</td>
                <td>{{ booking.estado }}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="selectToDeleteItem(booking)" data-bs-toggle="modal" data-bs-target="#deleteBookingModal"> Eliminar</button>
                    <button type="button" class="btn btn-primary" (click)="selectToViewInfo(booking)" data-bs-toggle="modal" data-bs-target="#viewInfoBookingModal">Inspeccionar</button>
                </td>
            </tr>
        </tbody>
    </table>
<!-- PAGINACIÓN -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

    <!-- MODAL ELIMINAR RESERVACIÓN -->
    <div class="modal fade" id="deleteBookingModal" tabindex="-1" aria-labelledby="deleteBookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto">
            <div class="modal-content">

                <!-- Encabezado del Modal -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Cuerpo del Modal -->
                <div class="modal-body text-center">
                    <div>
                        <p>¿Estás seguro de que deseas eliminar esta reserva?</p>
                    </div>
                </div>

                <!-- Pie del Modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="deleteBooking()">Continuar</button>
                </div>

            </div>
        </div>
    </div>

    <!-- MODAL INSPECCIONAR RESERVACIÓN -->
    <div class="modal fade" id="viewInfoBookingModal" tabindex="-1" aria-labelledby="viewInfoBookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto">
            <div class="modal-content">

                <!-- Encabezado del Modal -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Cuerpo del Modal -->
                <div class="modal-body text-center">
                    <div>
                        <div *ngIf="bookingService.selectedBookin && userService.selectedUser && roomService.selectedRoom">
                            <app-view-info-modal></app-view-info-modal>
                        </div>
                    </div>
                </div>

                <!-- Pie del Modal -->
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="()">Continuar</button>
                </div> -->

            </div>
        </div>
    </div>

</body>


