<body>
  <!-- BOTON ANTERIOR -->
  <div class="container mt-4">
    <div class="row mt-4">
      <button class="before-step-btn btn btn-primary" (click)="previousStep()" *ngIf="!hidePreviousButton">
        <i class="left-arrow-icon bi bi-arrow-left-short"></i>
      </button>
    </div>
  </div>

  <!-- Stepper -->
  <div class="container mt-4">
    
    <div class="row">

      <div class="col">
        <ul class="stepper">
          <li class="step" *ngFor="let step of steps; let i = index" [ngClass]="{ 'active': currentStep === i + 1, 'inactive': currentStep !== i + 1}">
            <span class="step-number">{{ i + 1 }}</span>
            <span class="step-title">{{ step.title }}</span>
          </li>
        </ul>
      </div>
      
    </div>

  <br>

  <!-- Container -->
  <div class="row">
      <div class="col">
        <div class="content-container">

            <div *ngIf="currentContent === 'details'" class="slide-in">
              <!-- DATOS -->
              <app-payment-data></app-payment-data>
            </div>

            <div *ngIf="currentContent === 'resumen'" class="slide-in">
              <!-- DETALLES -->
              <app-details></app-details>
            </div>

            <div *ngIf="currentContent === 'payment'" class="slide-in">
              <!-- PAYMENT -->
              <app-payment-payment></app-payment-payment>
            </div>

            <div *ngIf="currentContent === 'services'" class="slide-in" >
              <!-- SERVICES -->
              <app-service></app-service>
            </div>

          </div>
    
      </div>
  </div>

  <!-- next button -->
  <div class="row mt-4 justify-content-center">
    <div class="col-md-6 col-sm-12 text-center">
      <button class="next-btn btn btn-primary ml-2" (click)="nextStep()" *ngIf="!hideNextButton">Siguiente</button>
    </div>
  </div>

    

</div>


</body>





  