<div class="container">

    <div class="select-group">

        <!-- Region -->
        <select class="form-select" [(ngModel)]="selectedRegion" (change)="onRegionSelected($event)" >
            <option selected disabled="true">Ingrese una region</option>
            <option *ngFor="let region of RegionService.regions" [value]="region.nombre_region">{{ region.numero + '-' +region.nombre_region}}</option>
        </select>
        
        <!-- Ciudad o Comuna -->
        <select class="form-select" [(ngModel)]="selectedComuna" (change)="onComunaSelected($event)">
            <option selected disabled="true">Ingrese una comuna</option>
            <option *ngFor="let comuna of comunasOptions" [value]="comuna">{{comuna}}</option>
        </select>      
    
        <!-- Tipo vivienda -->
        <select class="form-select" [(ngModel)]="selectedTipoVivienda" (change)="onTipoViviendaSelected($event)"> 
            <option selected>Ingrese tipo de vivienda</option>
            <option value="depto">Departamento</option>
            <option value="casa">Casa</option>
        </select>          
    
        <!-- Boton buscar  -->
        <button type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
    
    </div>
    
</div>