<div class="container">

    <div class="select-group">

        <!-- Region -->
        <select class="form-select" [(ngModel)]="selectedRegion" (change)="onRegionSelected($event)" >
            <option value="" disabled selected>Mensaje predeterminado</option>
            <option *ngFor="let region of regionesOptions" [value]="region.nombre_region">{{ region.nombre_region }}</option>
        </select>
        
        <!-- Comuna -->
        <select class="form-select" [(ngModel)]="selectedComuna" (change)="onComunaSelected($event)">
            <option selected disabled="true">Comuna</option>
            <option *ngFor="let comuna of comunasOptions" [value]="comuna">{{comuna}}</option>
        </select>      
    
        <!-- Tipo vivienda -->
        <select class="form-select" [(ngModel)]="selectedTipoVivienda" (change)="onTipoViviendaSelected($event)"> 
            <option selected>Tipo de vivienda</option>
            <option value="1">Departamento</option>
            <option value="2">Casa</option>
        </select>          
    
        <!-- Boton buscar  -->
        <button type="button" class="btn btn-primary" routerLink="/results">Buscar</button>
    
    </div>
    
</div>