<div class="container">

    <div class="select-group">

        <select class="form-select" >
            <option selected>Región</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
        </select>
        
        <select class="form-select">
            <option selected>Comuna</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
        </select>      
    
        <select class="form-select">
            <option selected>Tipo de vivienda</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
        </select>          
    
        <button type="button" class="btn btn-primary" routerLink="/results">Buscar</button>
    
    </div>
    
</div>


  





