<form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

    <div class="mb-3">
        <label for="fechaPublicacion" class="form-label">Fecha de Publicación:</label>
        <span id="fechaPublicacion" class="form-control">{{ house.fecha_publicacion | date:'dd-MM-yyyy'}}</span>
    </div>
  
    <div class="mb-3">
      <label for="fechaTermino" class="form-label">Fecha de Término:</label>
      <input type="date" id="fechaTermino" name="fechaTermino" [(ngModel)]="fechaTermino" class="form-control" required (input)="validateFechaTermino">
      <div class="invalid-feedback">
        Por favor, ingrese la fecha de término.
      </div>
      <div *ngIf="errors['fechaTermino']" class="text-danger">{{ errors['fechaTermino'] }}</div>
    </div>
  
    <div class="mb-3">
      <label for="precio" class="form-label">Precio:</label>
      <input type="text" id="precio" name="precio" [(ngModel)]="house.precio" class="form-control" required (input)="validatePrecio()">
      <div class="invalid-feedback">
        Por favor, ingrese el precio.
      </div>
      <div *ngIf="errors['precio']" class="text-danger">{{ errors['precio'] }}</div>
    </div>
    
  
    <div class="mb-3">
      <label for="dueno" class="form-label">Dueño:</label>
      <input type="text" id="dueno" name="dueno" [(ngModel)]="house.duenio" class="form-control" required (input)="validateNameDuenio()">
      <div class="invalid-feedback">
        Por favor, ingrese el nombre del dueño.
      </div>
      <div *ngIf="errors['nameDuenio']" class="text-danger">{{ errors['nameDuenio'] }}</div>
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>
  
