<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Resumen de Compra</h2>
        <hr>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Producto: Habitación Estándar</h5>
            <p class="card-text">Precio: $100</p>
            <p class="card-text">Cantidad: 1</p>
            <hr>
            <h4 class="card-text">Total: $100</h4>
            <button class="btn btn-primary btn-block">Pagar con Flow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  