.mat-calendar .custom-marked-date {
    background-color: #CCCCCC; /* Color gris suave de fondo */
    color: white !important;
    border-radius: 100% !important;
    pointer-events: none; /* Evita que las fechas marcadas sean seleccionables */
}