button.custom-marked-date{
    background-color: red; /* Cambia el color de fondo a tu elección */
    /* color: #ff0000; Cambia el color del texto a tu elección */
    font-weight: bold; /* Puedes aplicar otros estilos según tus preferencias */
    border-radius: 100%;
}