.mat-raised-button{
    width: 100%;
}

.mat-card-content{

}

.icon-card{
    padding-top: 5%;

}

.footer-card {
    padding-right: 5%;
    text-align: right;
    color: gray;
}

.texto-titulo{
    font-weight: bold;
}