<div class="card">

    <div class="card-body">
        <!-- Titulo -->
        <h3 class="card-title mb-4">
            <i class="bi bi-geo-alt-fill me-3"></i>
            {{roomService.selectedRoom.calle}}{{", "}}{{roomService.selectedRoom.comuna}}{{", "}}{{roomService.selectedRoom.region}}
        </h3>

        <!-- Precio -->
        <h3 class="price-text mb-4">
            <i class="bi bi-cash-coin"></i>
            {{"$"}}{{roomService.selectedRoom.precio}}
        </h3>

        <!-- Baño compartido -->
        <p class="card-text mb-4 just">
            <i class="bi bi-badge-wc-fill me-3"></i>
            Baño compartido:
            {{banio_compartido}}
        </p>

        <!-- Tipo inmueble -->
        <p class="card-text mb-4">
            <i class="bi bi-houses-fill me-3"></i>
            Tipo de inmueble:
            {{roomService.selectedRoom.casa_depto}}
        </p>

        <!-- Fecha de publicaicon -->
        <p class="card-text mb-4">
            <i class="bi bi-calendar me-3" ></i>
            Fecha de publicación:
            {{roomService.selectedRoom.fecha_publicacion | date}}
        </p>

        <!-- Descripcion -->
        <p class="card-text mb-4">
            <i class="bi bi-card-text me-3"></i>
            Descripción:
            {{roomService.selectedRoom.descripcion}}
        </p>
        

        
    </div>
    
    


</div>