

    
    <div class="container mt-5">
        <h1 class="text-center">Registro de habitación</h1>
        
        
        <div class="form-section">
            <h2>Información del Modelo Detallado</h2>
            <hr>
            <div class="row mb-3">
                <div class="col md-6">
                    <!-- Modelo 3D: Zona de arrastre (Drop Zone) -->
                    <div id="dropZone" class="drop-zone form-control" (drop)="onDropModelHQ($event)" (dragover)="onDragOver($event)">
                        <!-- Icono de carga centrado arriba del texto -->
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-badge-3d-fill h1 mb-3" *ngIf="getFileName(model_refHQ)"></i>
                            <i class="bi bi-upload h1 mb-3" *ngIf="!getFileName(model_refHQ)"></i>
                            <p class="mb-0" *ngIf="!getFileName(model_refHQ)">Arrastra y suelta tu modelo 3D detallado aquí</p>
                            <p *ngIf="getFileName(model_refHQ)" style="color: skyblue;"> Modelo cargado: {{getFileName(model_refHQ)}}</p>
                        </div>
                    </div>
                    <div *ngIf="ModelErrorMessageHQ" class="text-danger"> {{ModelErrorMessageHQ}}</div>
                </div>
                <div class="col md-6">
                    <!-- TEXTURA DEL MODELO 3D -->
                    <div id="dropZone" class="drop-zone form-control" (drop)="onDropTextureHQ($event)" (dragover)="onDragOver($event)">
                        <!-- Icono de carga centrado arriba del texto -->
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-image h1 mb-3" *ngIf="getFileName(texture_refHQ)"></i>
                            <i class="bi bi-upload h1 mb-3" *ngIf="!getFileName(texture_refHQ)"></i>
                            <p class="mb-0" *ngIf="!getFileName(texture_refHQ)">Arrastra y suelta tu textura del modelo detallado aquí</p>
                            <p *ngIf="getFileName(texture_refHQ)" style="color: skyblue;">Textura cargada:{{getFileName(texture_refHQ)}} </p>
                        </div>
                    </div>
                    <div *ngIf="textureErroMessageHQ" class="text-danger">{{textureErroMessageHQ}}</div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <h2>Información del Modelo de Baja Calidad </h2>
            <hr>
            <div class="row mb-3">
                <div class="col md-6">
                    <!-- Modelo 3D: Zona de arrastre (Drop Zone) -->
                    <div id="dropZone" class="drop-zone form-control" (drop)="onDropModelLQ($event)" (dragover)="onDragOver($event)">
                        <!-- Icono de carga centrado arriba del texto -->
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-badge-3d-fill h1 mb-3" *ngIf="getFileName(model_refLQ)"></i>
                            <i class="bi bi-upload h1 mb-3" *ngIf="!getFileName(model_refLQ)"></i>
                            <p class="mb-0" *ngIf="!getFileName(model_refLQ)">Arrastra y suelta tu modelo 3D de baja calidad aquí</p>
                            <p *ngIf="getFileName(model_refLQ)" style="color: skyblue;"> Modelo cargado: {{getFileName(model_refLQ)}}</p>
                        </div>
                    </div>
                    <div *ngIf="ModelErrorMessageLQ" class="text-danger"> {{ModelErrorMessageLQ}}</div>
                </div>
                <div class="col md-6">
                    <!-- TEXTURA DEL MODELO 3D -->
                    <div id="dropZone" class="drop-zone form-control" (drop)="onDropTextureLQ($event)" (dragover)="onDragOver($event)">
                        <!-- Icono de carga centrado arriba del texto -->
                        <div class="d-flex flex-column align-items-center">
                            <i class="bi bi-image h1 mb-3" *ngIf="getFileName(texture_refLQ)"></i>
                            <i class="bi bi-upload h1 mb-3" *ngIf="!getFileName(texture_refLQ)"></i>
                            <p class="mb-0" *ngIf="!getFileName(texture_refLQ)">Arrastra y suelta tu textura del modelo de baja calidad aquí</p>
                            <p *ngIf="getFileName(texture_refLQ)" style="color: skyblue;">Textura cargada:{{getFileName(texture_refLQ)}} </p>
                        </div>
                    </div>
                    <div *ngIf="textureErroMessageLQ" class="text-danger">{{textureErroMessageLQ}}</div>
                </div>
            </div>
        </div>
        
        <form>
            <h2>Información de Ubicación</h2>
            <hr>

            <div class="form-section">
                <div class="row mb-3">
                    <!-- seleccionar region -->
                    <div class="col-md-6">
                        <label for="region" class="form-label">Seleccione una región</label>
                        <select class="form-select" [(ngModel)]="selectedRegion" (change)="onRegionSelect($event)" name="region">
                            <option disabled value="">Selecciona una region</option>
                            <option *ngFor="let region of regionService.regions" [value]="region.nombre_region">{{ region.nombre_region }}</option>
                        </select>
                        <div *ngIf="regionErrorMessage" class="text-danger">{{ regionErrorMessage }}</div>
                    </div>
                    <!-- seleccionar comuna -->
                    <div class="col-md-6">
                        <label for="comuna" class="form-label">Seleccione una comuna</label>
                        <select class="form-select" [(ngModel)]="selectedComuna" (change)="onComunaSelect($event)" name="comuna">
                            <option disabled selected>Seleccione una comuna</option>
                            <option *ngFor="let comuna of regionService.selectedRegion.comunas" [value]="comuna.nombre_comuna">{{comuna.nombre_comuna}}</option>
                        </select>
                        <div *ngIf="comunaErrorMessage" class="text-danger">{{ comunaErrorMessage }}</div>
                    </div>
                </div>
                <!-- Mapa -->
                <div class="row-12">
                    <label for="map" class="form-label">Seleccione una ubicación</label>
                    <div id="mapa"></div>
                    <div *ngIf="locationErrorMessage" class="text-danger">{{ locationErrorMessage }}</div>
                </div>


            </div>

            <h2>Información de la habitación</h2>
            <hr>

            <div class="form-section">

                <div class="row mb-3">
                    <label for="casa" class="form-label">Agregue esta habitación a una casa</label>
                    <select class="form-select" name="casa" [(ngModel)]="selectedHouse">
                        <option disabled value = "">Seleccione una casa</option>
                        <!-- <option *ngFor="let casa of houses" [value]="casa">{{casa.nombre_casa}}</option> -->
                    </select>

                </div>

                <div class="row mb-3">
                    <!-- tipo de casa -->
                    <div class="col-md-6">
                        <label for="tipo-casa" class="form-label"> Seleccione un tipo de Casa</label>
                        <select class="form-select" name="tipo-casa" [(ngModel)]="selectedHome" (change)="onSelectHome($event)">
                            <option disabled value="">Seleccione un tipo de casa</option>
                            <option *ngFor="let tipo of homeTypes" [value]="tipo">{{tipo}}</option>
                        </select>
                        <div *ngIf="homeErrorMessage" class="text-danger">{{ homeErrorMessage }}</div>
                    </div>
                    <!-- numero de habitacion -->
                    <div class="col-md-6">
                        <label for="num-habitacion" class="form-label">Ingrese el número de Habitación</label>
                        <input type="text" class="form-control" name="num-habitacion" [(ngModel)]="roomNumber" (ngModelChange)="validateRoomNumber()">
                        <div *ngIf="roomErrorMessage" class="text-danger">{{ roomErrorMessage }}</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <!-- tipo de baño -->
                    <div class="col-md-6">
                        <label for="num-bano" class="form-label">Seleccione el tipo de Baño</label>
                        <select class="form-select" name="num-bano"  (change)="onBathroomTypeSelect($event)">
                            <option disabled value="">Selecciona un tipo de baño</option>
                            <option *ngFor="let type of bathRoomTypes" [value]="type">{{ type }}</option>
                        </select>
                        <div *ngIf="bathroomErrorMessage" class="text-danger">{{ bathroomErrorMessage }}</div>
                    </div>
                    <!-- precio mensual -->
                    <div class="col-md-6">
                        <label for="precio" class="form-label">Ingrese el precio mensual de la habitación (en CLP)</label>
                        <input type="text" class="form-control" name="precio" [(ngModel)]="roomPrice" (ngModelChange)="validateRoomPrice()">
                        <div *ngIf="priceErrorMessage" class="text-danger">{{ priceErrorMessage }}</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="calle" class="form-label">Ingrese la calle</label>
                    <input type="text" class="form-control" name="calle" [(ngModel)]="roomStreet">
                    <div *ngIf="streetErrorMessage" class="text-danger">{{ streetErrorMessage }}</div>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Ingrese una descripción</label>
                    <textarea class="form-control" name="descripcion" [(ngModel)]="roomDescription" rows="4"></textarea>
                    <div *ngIf="descriptionErrorMessage" class="text-danger">{{ descriptionErrorMessage }}</div>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-">
                    <label for="descripcion" class="form-label">Carga las imagenes de la habitación</label>
                    <div class="drop-zone" id="dropArea" (drop)="onDropImages($event)" (dragover)="onDragOver($event)">
                        <i class="bi bi-card-image h1"></i>
                        <p class="fs-5">Arrastra y suelta las imagenes de la habitación aquí</p>
                    </div>
                    <div *ngIf="imagesErrorMessage" class="text-danger">{{ imagesErrorMessage }}</div>
                    
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Cargar habitación</button>
            </div>
        </form>
    </div>

    


