<header>
    <nav class="navbar navbar-expand-lg ">
        
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="/index">
                <img  alt="Logo" width="30" height="30" class="d-inline-block align-top">
            </a>
            <!-- Título -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <!-- Menú de navegación -->
                <ul class="navbar-nav">
            
                <!-- Dropdown de cuenta -->
                <li class="nav-item dropdown" *ngIf="loggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="#">Mi cuenta</a>
                    <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
                    </div>
                </li>

                <!-- Dropdown de reservas -->
                <li class="nav-item dropdown" *ngIf="loggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="reservationsDropdown" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [Mis Reservas]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="reservationsDropdown">
                    <a class="dropdown-item" href="#">Ver mis reservas</a>
                    <a class="dropdown-item" href="#">Historial de reservas</a>
                    </div>
                </li>

                <!-- Botón de ayuda -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/help">Ayuda</a>
                </li>

                <!-- Botón de ingreso (modal) -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginSignupModal">Ingresar</a>
                </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Modal -->
<div class="modal fade custom-modal"  id="loginSignupModal"  #loginSignupModal aria-labelledby="loginSignupModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
              <!-- <h5 class="modal-title" id="loginSignupModalLabel">Iniciar sesión o Registrarse</h5> -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <div *ngIf="showSuccessAlert" class="alert alert-success">
                Registro exitoso. Por favor, inicia sesión.
            </div>

            <div id="loginForm" *ngIf="showLoginForm" >
                <!-- Contenido del formulario de inicio de sesión -->
                <app-login></app-login>
            </div>

            <div id="registerForm" *ngIf="!showLoginForm" >
                <!-- Contenido del formulario de registro -->
                <app-register ></app-register>
            </div>

            <div class="modal-footer">
            <p> {{showLoginForm ? '¿Aún no tienes una cuenta?': '¿Ya tienes una?'}}        
                <a (click)="toggleForms()" style="cursor: pointer; color: skyblue;">
                {{ showLoginForm ? 'Crea una' : 'Iniciar sesión' }}
                </a>
            </p>
            </div>

            </div>
        </div>
    </div>
</div>

  

  


  
  





