.navbar{
  background-color: white;
}

.navbar {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1s); /* Ajusta los valores según tus preferencias */
}

.navbar-brand img {
  margin-left: 70px;
  scale : 5.0;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #2a67a3;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease; /* Agrega una transición suave */
  border-radius: 10%;
}




