.card-column {
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
    background-color: #2a67a3; /* Cambia el color de fondo al pasar el ratón por encima */
    color: white; /* Cambia el color del texto al pasar el ratón por encima */
}