<nav class="sidebar">
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Gestionar usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rooms">Gestionar habitaciones </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/complaints">Gestionar reclamos </a>
      </li>
    </ul>

    <ul class="nav flex-column mt-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Cerrar sesión</a>
        </li>
    </ul>
</nav>
