<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <!-- Logo y-->
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline">Roomatch</span>
  </a>
  <!-- Listado de los botones -->
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <!-- Habitaciones -->
      <li class="nav-item">
        <a (click)="mostrarHome()" class="nav-link align-middle px-0">
            <i class="fs-4 bi-door-open-fill"></i> <span class="ms-1 d-none d-sm-inline">  Gestionar habitaciones</span>
        </a>
      </li>
      <!-- Casa -->
      <li>
        <a (click)="mostrarCasas()" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Gestionar Casas</span> </a>
      </li>
      <!-- Usuarios -->
      <li>
        <a (click)="mostrarUsuarios()" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Gestionar usuarios</span>
        </a>
      </li>
      <!-- Reservas -->
      <li>
        <a (click)="mostrarReservas()" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Gestionar reservas</span></a>
      </li>
      
      <!-- reclamos -->
      <li>
        <a (click)="mostrarReclamos()" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-megaphone"></i> <span class="ms-1 d-none d-sm-inline">Gestionar reclamos</span> </a>
      </li>
  
  </ul>

  <div class="dropdown pb-4">
    <!-- Listado de los botones -->
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <!-- Botón salir -->
      <li>
          <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-box-arrow-in-left"></i> <span class="ms-1 d-none d-sm-inline">Salir</span> </a>
      </li>
    </ul>
  </div>

</div>