.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: gray;
}

.nav-link {
padding: 10px;
color: #000;
text-decoration: none;
}

.nav-link:hover {
background-color: #e9ecef;
}
