.model-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegura que la capa de progreso esté encima del canvas */
}

.progress-bar {
  width: 200px; /* Ajusta el ancho de la barra de progreso según tus preferencias */
  height: 20px;
  background-color: #ddd; /* Color de fondo de la barra de progreso */
  border-radius: 10px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #3498db; /* Color de la barra de progreso */
  border-radius: 10px;
}

.loading-text {
  margin-top: 10px;
  font-size: 18px;
  color: #fff; /* Color del texto de carga */
}
