<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Detalles de la compra</h2>
  
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label for="fechaInicio">Fecha de inicio:</label>
              <input type="text" class="form-control" id="fechaInicio" value="2023-06-01" disabled>
            </div>
  
            <div class="form-group">
              <label for="fechaFin">Fecha de fin:</label>
              <input type="text" class="form-control" id="fechaFin" value="2023-06-08" disabled>
            </div>
  
            <div class="form-group">
              <label for="horaLLegada">Hora de llegada:</label>
              <input type="text" class="form-control" id="horaLLegada" value="13:45" disabled>
            </div>
  
            <div class="form-group">
              <label for="habitacion">Habitación seleccionada:</label>
              <input type="text" class="form-control" id="habitacion" value="Habitación 102" disabled>
            </div>

            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <input type="text" class="form-control" id="direccion" value="Heriberto Alvarez, Coínco, Libertador Bernardo O'higgins" disabled>
            </div>


          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <h2 class="text-left">Instrucciones de llegada</h2>
  
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" >Presenta tu identificación al encargado al llegar.</li>
              <li class="list-group-item" >El check-in está disponible a partir de las 15:00 horas.</li>
              <li class="list-group-item" >Si llegas fuera del horario de recepción, asegúrate de informar con anticipación vía email a roomatch@gmail.com.</li>
            </ul>
          </div>
        </div>
  
        <h2 class="text-left">Desglose del precio</h2>
  
         <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="font-weight-bold">Precio por servicio</span>
                <span class="float-right">$100</span>
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Habitación</span>
                <span class="float-right">7 días</span>
              </li>
              <li class="list-group-item bg-info text-white">
                <span class="font-weight-bold">Total:</span>
                <span class="float-right">$700</span>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>


  