<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Detalles de la compra</h2>
  
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label for="fechaInicio">Fecha de inicio:</label>
              <input type="text" class="form-control" id="fechaInicio" [value]="fecha_inicio | dateFormat" disabled>
            </div>
  
            <div class="form-group">
              <label for="fechaFin">Fecha de fin:</label>
              <input type="text" class="form-control" id="fechaFin" [value]="fecha_fin | dateFormat" disabled>
            </div>
  
            <div class="form-group">
              <label for="horaLLegada">Hora de llegada:</label>
              <input type="text" class="form-control" id="horaLLegada" [value]="horaLLegada" disabled>
            </div>
  
            <div class="form-group">
              <label for="habitacion">Habitación seleccionada:</label>
              <input type="text" class="form-control" id="habitacion" [value]="numeroHabitacion" disabled>
            </div>

            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <input type="text" class="form-control" id="direccion" [value]="direccion" disabled>
            </div>


          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <h2 class="text-left">Instrucciones de llegada</h2>
  
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" >Presenta tu identificación al encargado al llegar.</li>
              <li class="list-group-item" >El check-in está disponible a partir de las 15:00 horas.</li>
              <li class="list-group-item" >Si llegas fuera del horario de recepción, asegúrate de informar con anticipación vía email a roomatch@gmail.com.</li>
            </ul>
          </div>
        </div>
  
        <h2 class="text-left">Desglose del precio</h2>
  
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Servicio</th>
                  <th class="text-right">Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicio of listadoServicios">
                  <td>{{ servicio.servicio }}</td>
                  <td class="text-right">{{ (servicio.precio) }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Total servicios:</td>
                  <td class="font-weight-bold text-right">{{ (precioServicios) }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Habitación:</td>
                  <td class="font-weight-bold text-right">{{ (precioBooking) }}</td>
                </tr>
                <tr class="total">
                  <td class="font-weight-bold">Total:</td>
                  <td class="font-weight-bold text-right">{{ (precioTotal) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        

      </div>
    </div>
  </div>
</body>


  