@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html, body { width: 100%; height: 100%; padding: 0px;}

.btn-primary{
    background-color: #114358;
    color: #FFFFFF;
}

body {
    background-color: #EDEDED; /* Color gris de fondo */
}