<body>
    
    <header>
        <h1>GESTIÓN DE HABITACIONES</h1>
    </header>
 
    <!-- FILTROS -->
    <div class="container filter-container align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-2 mx-auto my-auto text-center">  
                <button class=" btn-add-house btn btn-primary" (click)="goToAddRoom()">
                    <i class="bi bi-plus-circle-fill"></i>
                    Agregar Habitación
                </button>
            </div>
            <div class="col-md-4 text-center">
                <select class="form-select sort-select">
                    <option value="precio">Ordenar por Precio</option>
                    <option value="fecha">Ordenar por Fecha</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
            </div>
            <div class="col-md-4 text-center">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="Buscar habitación...">
                    <button class="search-btn btn btn-primary">
                    <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- TABLA -->
    <table class="table-responsive" >
        <thead>
            <tr>
                <th scope="col" *ngFor="let headName of headTableContent">{{ headName }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of RoomService.rooms">
                <td>{{ room._id }}</td>
                <td>{{ room.numero + ' ' + room.calle + ' ' + room.comuna + ' ' + room.region }}</td>
                <td>{{ room.fecha_publicacion | dateFormat }}</td>
                <td>{{ formatPrice(room.precio) | currency:'CLP':'symbol-narrow' }}</td>
                <td>{{ room.esta_arrendado }}</td>
                <td>
                    <button class="btn-edit btn btn-primary" (click)="seletcToEdit(room)" data-bs-toggle="modal" data-bs-target="#editRoomModal">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger" (click)="selectToDelete(room)" data-bs-toggle="modal" data-bs-target="#deleteRoomModal">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- PAGINACIÓN -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <!-- MODAL EDITAR HABITACIÓN -->
        <div class="modal fade" id="editRoomModal" tabindex="-1" aria-labelledby="editRoomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mx-auto">
                <div class="modal-content">

                    <!-- Encabezado del Modal -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Cuerpo del Modal -->
                    <div class="modal-body text-center">
                        <div>
                            <app-room-views-edit></app-room-views-edit>
                        </div>
                    </div>

                    <!-- Pie del Modal -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="editRoom()">Continuar</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- MODAL ELIMINAR HABITACIÓN -->
        <div class="modal fade" id="deleteRoomModal" tabindex="-1" aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mx-auto">
                <div class="modal-content">

                    <!-- Encabezado del Modal -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Cuerpo del Modal -->
                    <div class="modal-body text-center">
                        <div>
                            <p>¿Estás seguro de que deseas eliminar esta habitación?</p>
                        </div>
                    </div>

                    <!-- Pie del Modal -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="deleteRoom()">Continuar</button>
                    </div>

                </div>
            </div>
        </div>
</body>
