/* Ajustar altura del carrusel */
.carousel {
  height: 30vh; /* Ajusta la altura según tus necesidades */
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  position: relative; /* Agrega esta línea */
}

.carousel-inner{
  height: 100%;
  width: 100%;
}
  
/* Centrar verticalmente las imágenes */
.carousel-item {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.image-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  position: relative;
}

/* Estilos de los botones de navegación */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ajusta el ancho según tus necesidades */
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de los botones */
  opacity: 0.5;
  transition: opacity 0.3s ease;
  top: 50%; /* Ajusta la posición vertical según tus necesidades */
  transform: translateY(-50%);
  transform-origin: center;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #fff; /* Color de los iconos de navegación */
}

/* Estilos de los indicadores de carrusel (puntos) */
.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de los puntos */
  border-color: rgba(0, 0, 0, 0.5); /* Color del borde de los puntos */
}

.carousel-indicators .active {
  background-color: #000; /* Color de fondo del punto activo */
  border-color: #000; /* Color del borde del punto activo */
}

@media (max-width: 575.98px) {
  /* Estilos para dispositivos móviles pequeños */
  .carousel {
    height: 15%; /* Ajusta la altura según tus necesidades */
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para dispositivos móviles medianos */
  .carousel {
    height: 20%; /* Ajusta la altura según tus necesidades */
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para dispositivos móviles grandes y tabletas */
  .carousel {
    height: 25%; /* Ajusta la altura según tus necesidades */
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas de escritorio */
  .carousel {
    height: 50%; /* Ajusta la altura según tus necesidades */
  }
}